html, body {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #ffffff;
    color: #6F726C;
    font-family: 'Nunito', 'Special Elite', sans-serif;
    font-weight: 200;
    margin: 0;
}

.avatar {
    border-radius: 50%;
    border: 1px solid #F9FDFF;
}

.file-input {
    background-color: #F9FDFF;
    color: #6F726C;
    width: 250px;
    height: 38px;
    margin-top: 7px;
    padding-top: 7px;
    margin-left: -5em;
    border: 1px solid #6F726C;
    border-radius: 4px 0px 0px 4px;
}

.file-input:hover {
    background-color: #EEEEEE;
    color: #6F726C;
    cursor: pointer;
}

.nav-color {
    background-color: #405A68;
    color: #F9FDFF;
}

.links > a,
.create > a {
    color: #F9FDFF;
    font-size: 1em;
    letter-spacing: .12em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.links > a:hover,
.create > a:hover {
    color: #D8DEE0;
}

.name-links > a {
    color: #5cb85c;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
}

.name-links > a:hover {
    color: #4C974C;
}

.nav-logo {
    color: #F9FDFF;
    font-size: 1.25em;
    font-family: 'Special Elite';
    letter-spacing: .1em;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 1em;
}

.nav-logo:hover {
    color: #D8DEE0;
}

.nav-menu {
margin-left: 1.25em;
}

.nav-button {
    color: #F9FDFF;
    border-color: #F9FDFF;
    margin-right: .5em;
}

.nav-button:hover {
    color: #D8DEE0;
    border-color: #D8DEE0;
}

.show-buttons {
    margin-right: .2em;
    margin-bottom: -1px;
}

.create {
    margin: 0em 1.5em;
}

.footer-links > a {
    color: #F9FDFF;
    font-size: 2.5em;
    text-decoration: none;
}

.footer-links > a:hover {
    color: #D8DEE0;
}

.submit {
    background-color: #405A68;
    color: #F9FDFF;
}
.submit:hover {
    background-color: #223843;
    color: #eeeeee;
}

.delete {
    background-color: #B53649;
    color: #F9FDFF;
}
.delete:hover {
    background-color: #952D3C;
    color: #eeeeee;
}

.content {
    text-align: center;
    display: flex;
    min-height: 63vh;
    height: auto !important;
    flex-direction: column;

}
#footer {
    height: 12em;
    padding-top: 2em;
}

.title {
    color: #F9FDFF;
    letter-spacing: .07em;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.errors {
    text-align: left;
}

.posts {
    margin-bottom: .2em;
}

.posts > a {
    color: #6F726C;
    text-decoration: none;
}

.posts > a:hover {
    color: #A1A59D;
}

.mar {
    margin-top: 6em;
    margin-bottom: 3em;
}

.text-lg {
    font-size: 18px;
    font-weight: 400;
    margin: -8px;
}

.border {
    border: .5em solid tomato;
}

@media only screen and (min-width: 768px) {
    .content-area {
        width: 75%;
    }

    .footer-links > a {
        color: #F9FDFF;
        font-size: 3em;
        margin: 0em .5em;
        text-decoration: none;
    }

    .nav-button {
         margin-right: 2.5em;
    }

    .nav-logo {
        font-size: 1.75em;
        letter-spacing: .12em;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 1.5em;
    }

    .nav-menu {
    margin-left: 2.75em;
    }

    .create {
        margin: 0em 3em;
    }

    .mar {
        margin: 7em 0em 3em 0em;
    }
}

@media only screen and (min-width: 1024px) {
    .content-area {
        width: 50%;
    }

    .footer-links > a {
        color: #F9FDFF;
        font-size: 3em;
        margin: 0em 1em;
        text-decoration: none;
    }

    .nav-logo {
        color: #F9FDFF;
        font-size: 1.75em;
        letter-spacing: .12em;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 4em;
    }

    .nav-menu {
    margin-left: 3em;
    }

    .create {
        margin-right: 6em;
    }

    .mar {
        margin: 7em 0em 3em 0em;
    }
}
